body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  overflow-wrap: break-word; /* Allows breaking within words if necessary */
}
