header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: burlywood;
}

.slogen {
    width: 80%;
    font-size: 200%;
    text-align: center;
    padding-left: 7%;
}

.logo {
  width: 7%;
  height: 100%;
}
