.post {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.topPost {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.bottomPost {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}